/* body */
body {
    background-color: darkorange;
    overflow: hidden;
}

.mealcontainer {
    overflow: scroll;
    height: calc(100vh - 50px);
}

.meal {
    margin:5px;
    font-family:arial, sans-serif;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 2fr auto;
    border-radius:10px;
    overflow:hidden;
    z-index: -1;
    background-color: bisque;
}

.meal .title {
    font-weight:bold;
    grid-column: 1/3;
    background-color:orange;
    font-size:20px;
    padding:5px;
}
.meal .description{
    padding:5px;
}
.meal .price{
    padding:5px;
    font-weight:bold;
    font-size:25px;
}
.meal img {
    padding:5px;
    height: 100px;
    border-radius: 100%;
    grid-row: 2/4;
    grid-column: 2/3;
    justify-self: center;
}
